*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logohead{
    background-color: black;
}

.logohead img{
    width: 173px;
    height: 46px;
}

.navbar{
    background-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    text-align: right;
    padding: 10px 180px 10px 0px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 20px;
    text-transform: capitalize;
    border-right: 1px solid black;
}

.nav {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #EBEBEB;
}
.nav, .nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
a {
    color: black;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.nav .logo {
    font-size: 22px;
    font-weight: 500;
}
.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav-links{
    margin-left:-10px;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}
.nav .search-icon {
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box {
    position: absolute;
    right: 290px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}
.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}
.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: black;
    transform: translateY(-50%);
}
.search-box input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}
.icons {
    justify-content: space-between;
    display: flex;
    gap: 15px;
    align-items: center;
}
.carousel-container {
	width: 100%;
    height: 85.1vh;
	overflow: hidden;
}
  
.carousel {
	height: calc(100vh * 3);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transform: translateY(-100vh);
	transition: transform 0.5s ease;
}
  
.slide {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}
@media (max-width: 768px) { 
    .navbar{
        padding: 10px 8%;
    }
    .nav {
        padding: 15px 8%;
    }
    .nav .search-box {
        right: 8%;
    }
}
